@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

.modal-backdrop {
  z-index: 1044;
}

.nav-item {
  cursor: pointer;
  color: #333;
}
.nav-item:hover{
  transition: .3s;
  color: #000;
}
body {
  font-family: 'Poppins', sans-serif;
}
.task-item i, .navbar i {
  cursor: pointer;
}
.navbar-nav {
  min-width: 200px;
}

#sort-icon {
  cursor: pointer;
}